* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    border: 3px solid black;
    padding: 20px;
    margin-bottom: 20px;
}

.caixa1 {
    position: static;
}

.caixa2 {
    position: absolute;
    width: 100px;

}

