* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#topo-loja {
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    text-align: center;

}

#btn-menu, #label-menu{
    display: none;
}